*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
}

/**Header**/
#container ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
    margin-top: -48px;
    margin-right: 50px;
}
#container ul li{
    display: inline;
}
#container li a {
    text-decoration: none;
    padding: 5px 20px;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

/**Section**/
section{
    background-image: url(../images/sirene-happy2.png.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 833px;
    -webkit-filter: saturate(50%);
    margin-top: 58px;
    z-index: 1;
    position: absolute;
}
section h1{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 164px;
    margin-left: 253px;
    z-index: 2;
    position: absolute;
    text-align: center;
}
section #butn-un{
    list-style-type: none;
    background: linear-gradient(#B1488E, #486CB1);
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Playfair Display";
    margin-top: 322px;
    margin-left: 414px;
    z-index: 2;
    position: absolute;
    width: 200px;
    -webkit-box-shadow: 0px 12px 19px -1px #000000; 
    box-shadow: 0px 12px 19px -1px #000000;
}
section .happy{
    background: rgba(177, 72, 142, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(177, 72, 142, 0.35);
    width: 1003px;
    height: 536px;
    margin-top: 200px;
    z-index: 1;
    position: absolute;
    margin-left: 322px;
}

/**Footer**/
footer{
    background-color: #4C7097;
    margin-top: 891px;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 523px;
}
footer table{
    margin-left: 200px;
}
footer table th{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}
footer table td{
    font-family: 'Alice', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    font-weight: lighter;
    padding-top: 20px;
}
.footer-un {
    margin-left: 1062px;
    margin-top: -270px;
}
.footer-un ul{
    list-style-type: none;
}
.footer-un ul h2{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 46px;
    color: white;
}
.footer-un ul #inscription{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}
.footer-un ul input:before{
    box-sizing: border-box;
    width: 200px;
    padding: 20px;
}
.footer-un ul input::after{
    box-sizing: border-box;
    width: 200px;
    padding: 20px;
}
.footer-un ul input{
    padding: 10px;
    margin: 10px 0;
    border: 0;
    background-color: #2B2E3C;
    color: white;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 20px;
}
.footer-un ul input,textarea{
    font-family: 'Alice', Arial, Helvetica, sans-serif;
    font-size: inherit;
}
.footer-un ul .btn {
    background: white;
    color: black;
    border-style: outset;
    border-color: #000;
    border-radius: 20px;
    height: 37px;
    width: 100px;
    font-family: 'Alice', Arial, Helvetica, sans-serif;
    text-shadow: none;
    margin-top: -5px;
    margin-left: -40px;
}
.footer-un ul .btn:hover{
    background: #734599;
    color: white;
    border-style: outset;
    border-color: black;
    height: 37px;
    width: 100px;
    font-family: 'Alice', Arial, Helvetica, sans-serif;
    text-shadow: none;
    margin-top: -5px;
    margin-left: -40px;
}
.footer-deux{
    font-family: 'Alice', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 472px;
    margin-top: 222px;
}
.footer-deux #facebook {
    margin-left: 345px;
    margin-top: -21px;
    z-index: 2;
    position: absolute;
}
.footer-deux #twitter {
    margin-top: -20px;
    margin-left: 386px;
    z-index: 2;
    position: absolute;
}
.footer-deux #instagram{
    margin-top: -20px;
    margin-left: 427px;
    z-index: 2;
    position: absolute;
    
}
.footer-deux #linkedin{
    margin-top: -20px;
    margin-left: 470px;
    z-index: 2;
    position: absolute;
}

@media all and (max-width: 830px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    }

    /**Header**/
#container .navbar{
    display : inline-block;
	width : 100px;
	height : 30px;
	overflow : hidden;
	text-align : left;
	text-indent : -9999px;
	white-space : nowrap;
    background: url(../images/Menu-burger.png) no-repeat top left;
    margin-left: 340px;
    margin-top: -54px;
}
/**Section**/
section{
    background-image: url(../images/sirene-happy2.png.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 833px;
    -webkit-filter: saturate(50%);
    margin-top: 58px;
    z-index: 1;
    position: absolute;
}
section h1{
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 66px;
    margin-left: 91px;
    z-index: 2;
    position: absolute;
    text-align: center;
}
section #butn-un{
    list-style-type: none;
    background: linear-gradient(#B1488E, #486CB1);
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 13px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-family: "Playfair Display", Arial, Helvetica, sans-serif;
    margin-top: 143px;
    margin-left: 88px;
    z-index: 2;
    position: absolute;
    -webkit-box-shadow: 0px 12px 19px -1px #000000; 
    box-shadow: 0px 12px 19px -1px #000000;
}
section .happy{
    background: rgba(177, 72, 142, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(177, 72, 142, 0.35);
    width: 100%;
    height: 272px;
    margin-top: 94px;
    z-index: 1;
    position: absolute;
    margin-left: 1px;
}
/**Footer**/
footer{
    background-color: #4C7097;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 190px;
}
footer table{
    display : inline-block;
	width : 100px;
	height : 30px;
	overflow : hidden;
	text-align : left;
	text-indent : -9999px;
	white-space : nowrap;
    background: url(../images/burger-blanc.png) no-repeat top left;
    margin-left: 33px;
    margin-top: -50px;
}
.footer-un {
    display : inline-block;
	width : 100px;
	height : 30px;
	overflow : hidden;
	text-align : left;
	text-indent : -9999px;
	white-space : nowrap;
}
.footer-deux{
    font-family: 'Alice', Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: white;
    margin-left: 33px;
    margin-top: -9px;
}
.footer-deux #facebook {
    margin-left: 192px;
    margin-top: -25px;
    z-index: 2;
    position: absolute;
    width: 15px;
    height: 15px;
}
.footer-deux #twitter {
    margin-top: -25px;
    margin-left: 226px;
    z-index: 2;
    position: absolute;
    width: 15px;
    height: 15px;
}
.footer-deux #instagram{
    margin-top: -25px;
    margin-left: 258px;
    z-index: 2;
    position: absolute;
    width: 15px;
    height: 15px;
    
}
.footer-deux #linkedin{
    margin-top: -25px;
    margin-left: 293px;
    z-index: 2;
    position: absolute;
    width: 15px;
    height: 15px;
}
}



@media all and (min-width: 1920px){
    #burger{
        visibility: hidden;
    }
}